/* start custom scss snippet */

/****Vars****/
$color-blue: #1E77B7;
$color-darkblue: #536B76;
$color-lightblue: #0098DA;
$color-orange: #FF8A00;

body {
	font-size: 16px;
	line-height: 24px;
	color: $color-darkblue;
	height: auto;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

.text--dark, .card__image > .overlay, .card__image > .overlay--dark, .hero--dark, .header--dark {
	color:$color-darkblue;
}

.root[data-is-touch="false"] a {
	color: $color-blue;
	&:hover {
		color: $color-orange;
	}
}

.mb0 {
	margin-bottom: 0 !important;
}

.article__content p {
	margin-top: 0;
}

h1,h2,h3,h4 {
	font-family: 'Montserrat', sans-serif;
}

.blue {
	color: $color-blue !important;
}

.pt0 {
	padding-top: 0 !important;
}

/*@media all and (min-width:0px)*/
.grid > .cell--auto {
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: auto;
}


.article__content,
.page__main {	
	line-height: 24px;
	color: $color-darkblue;
	position: relative;
	z-index: 8;
}
/****Header****/
.page__header {
	padding-top: 70px;
}
#aside_menu {
	margin: 0 0 0 20px;
}
.responsive_btn {
	height: 35px;
	display: none;
	margin-right: 5px;
	min-width: 28px;
	i {
		font-size: 32px;
		line-height: 32px;
		color: $color-orange;
		&.fa-times {
			display: none;
		}
	}
	&.close {
		.fa-times {
			display: inline-block;
		}
		.fa-bars {
			display: none;
		}
	}
}

header.header {
	background: #FFFFFF;
	box-shadow: 0px 15px 15px rgba(0, 152, 218, 0.15);
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	.header__brand > a > svg {
		height: auto;
		margin-right: 0;
		width: 187px;
	}
	.main {
		width: 1060px;
		margin: 0 auto;
		padding: 0 15px;
		height: 70px;
		align-items: center;
	}
	nav.top_navigation {
		display: flex;
		ul {
			li {
				margin: 0 0 0 31px;
				&:first-child {
					margin: 0;
				}
				a {
					font-size: 16px;
					-webkit-transition: all 300ms ease;
					-moz-transition: all 300ms ease;
					-ms-transition: all 300ms ease;
					-o-transition: all 300ms ease;
					transition: all 300ms ease;
					line-height: 20px;
					font-weight: 400;
					color: $color-darkblue;
					font-family: 'Montserrat', sans-serif;
					&:hover {
						color: $color-blue !important;
					}
				}				
				&:after {
					display: none !important;
				}
				&.navigation__item--active {
					a {
						color: $color-blue;
						font-weight: bold;
					}
				}
				.search-button {
					background: none !important;
					border: none !important;
					width: 26px;
					min-width: 10px;
					height: 26px;
					margin-left: 5px;
					i {
						color: $color-orange;
						font-size: 24px;
						-webkit-transition: all 300ms ease;
						-moz-transition: all 300ms ease;
						-ms-transition: all 300ms ease;
						-o-transition: all 300ms ease;
						transition: all 300ms ease;
						line-height: 26px;
					}
					&:hover i {
						color: $color-blue;
					}
				}
			}
		}	
	}
}

header {
	h1 {
		font-weight: 800;
		font-size: 45px;
		line-height: 55px;
		text-align: center;
		color: $color-blue;
	}
}

.edit-on-github {
	display: none !important;
}

.article__header {
	margin: 54px 0 0;
	position: relative;
	header,
	h1 {
		display: block;
		margin: 0;
	}
}

.header__title > .search-button {
	min-width: 10px;
}

.modal--overflow {
	padding: 15px;
}

.hero__content .article__header {
	h1 {
		font-weight: 800;
		font-size: 60px;
		line-height: 55px;
		span {
			font-size: 35px;			 
			display: block;
			padding-top: 9px;
		}
	}
}

header {
	h1 {
		font-weight: 800;
		font-size: 45px;
		line-height: 55px;
		text-align: center;
		color: $color-blue;
	}
}

.top_navigation > ul,
.header__title {
	height: auto;
}

.header__title {
	position: relative;
}

.h4_article {
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	border: none !important;
	padding-top: 4px;
	margin-bottom: 40px;
	color: #1E77B7;
	margin-bottom: 30px !important;
}

.has-aside .col-aside {
	position: fixed;
	right: 5px;
	width: 280px;
	height: 100vh;
	top: 70px;
	background: none;
	border: none;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background: #F5F5F5;
		display: block;
		height: 100%;
		width: 15px;
		opacity: 0.5;
	}
}

.has-aside .col-aside > aside {
	position: relative !important;
	width: 100%;
	top: auto;
	right: 0;
	top: 0 !important;
	overflow: auto;
	height: 100%;
	left: auto !important;
}

.page__sidebar {
	position: fixed;
	left: 0;
	background: none;
	max-width: 280px;
	top: 70px;
	border: none;
	z-index: 9;
	&:before {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		background: #F5F5F5;
		display: block;
		height: 100%;
		width: 15px;
		opacity: 0.5;
	}
	.sidebar-toc {
		padding: 3rem 1rem 10rem 15px;
		ul.toc--navigator {
			li {
				margin: 0 0 10px;
			}
			.toc-h1 {
				font-weight: 500;
				padding: 10px 0 0;
				font-size: 18px;
				line-height: 22px;
				border: none;
				font-family: 'Montserrat', sans-serif;
				color: #5334AE;
				border: none;
				letter-spacing: -0.5px;
			}
			.toc-h2 {
				padding-left: 5px;
				a {
					font-size: 14px;
					line-height: 16px;
					margin: 0;
					font-weight: normal;
					color: $color-darkblue;	
					border: none;
				}				
				&:hover a {
					color: $color-blue;
				}
				&.active a {
					color: $color-blue;
					font-weight: bold;
				}
			}
		}
	}
}
.col-aside {
	.page__aside {
		ul.toc--ellipsis {
			li {
				margin: 0 0 10px;
				white-space: normal;
				&.toc-h3 {
					margin-bottom: 10px;
					position: relative;
				}
				&.toc-h2 {
					padding-top: 7px;
				}
			}
			.toc-h3,
			.toc-h2 {
				padding-left: 5px;
				a {
					font-size: 15px;
					line-height: 20px;
					margin: 0;
					font-weight: normal;
					color: $color-darkblue;	
					border: none;
				}				
				&:hover a {
					color: $color-blue;
				}
				&.active a {
					color: $color-blue;
					font-weight: bold;
				}
			}
		}
	}
}
.page__aside .toc-aside {
	padding: 3rem 10px 10rem 30px;
}

.col-aside .page__aside ul.toc--ellipsis .toc-h3 a {
	font-size: 13px;
	line-height: 18px;
}

/******Buttons*******/

.button {
	background: $color-orange;
	font-weight: bold;
	font-size: 14px;
	color: #fff !important;
	line-height: 26px !important;
	min-width: 210px;
	border: 2px solid $color-orange;
	padding: 5px 15px;
	border-radius: 20px;
	min-height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	&.button--primary,
	&.button--info {
		background: $color-orange;
		&:hover {
			color: #fff !important;
			border-color: $color-blue !important;			
			background: $color-blue !important;
		}
	}
	.fab {
		font-size: 20px;
		color: #fff;
		margin-right: 10px;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
	}
	&.button--normal,
	&.button--active {
		color: #fff;
		background: $color-orange;
		&:hover {
			color: #fff;
			background: $color-blue;
			border-color: $color-blue;
		}
	}
	&.button--trans_white {
		border-color: $color-orange;
		color: $color-orange !important;
		background: #fff;
		&:hover {
			color: $color-blue !important;
			border-color: $color-blue;
		}
	}
	&.button--big_btn {
		min-width: 260px;
	}
	&.button--trans {
		border-color: #fff;
		background: none;
		color: #fff;
		&:hover {
			color: $color-blue !important;
			background: #fff;
            border-color: #fff;
            i {
				color: $color-blue;
			}
		}	
	}
}

/******Index*******/

.layout--page.layout--page--sidebar {
	.page__viewport,
	.page__grid {
		height: auto;
	}
}

.article__header--overlay {
	.hero.hero--center {
		background: url('../../assets/images/top_bg.jpg') 0 0 no-repeat;
		background-size: cover;
		padding-top: 151px;
		p.overlay__excerpt {
			font-weight: 500;
			font-size: 18px;
			margin: 0 0 41px;
			padding-top: 2px;
			line-height: 30px;
			color: #ffffff;
		}
		.menu {
			li {
				margin: 0 10px;
			}
		}
	}
}

.big_img {
	max-width: 800px;
	margin: 0 auto 10px;
}

.grid--container {
	margin: 0 auto;
	width: 1170px;
	padding: 0 15px;
	position: relative;
	.grid {
		margin: 0 -15px;
		position: relative;
		z-index: 5;
		.cell {
			padding: 0 15px;
		}
	}
}

.hero {
	.h3_title {
		font-weight: 800;
		font-size: 35px;
		line-height: 55px;
		margin: 0 0 15px;		
		&.big_h3 {
			font-size: 40px;
		}
	}
	.h2_title {
		font-weight: 800;
		font-size: 45px;
		line-height: 55px;
		margin: 0 0 15px;
	}
	.grey {
		color: $color-darkblue !important;
	}
	.h3_descr {
		font-size: 18px;
		line-height: 30px;
	}
	.h4_title {
		font-weight: 800;
		font-size: 25px;
		line-height: 35px;
		margin: 0 0 38px;
		&.white {
			color: #fff;
		}
	}
}

.top_section {
	margin-bottom: 61px;
	.menu {
		padding-top: 29px;
		&.three_a {
			a {
				margin: 0 10px;
			}
		}
	}
	&.bottom_section {
		padding-top: 40px;
		h4 {
			margin: 0;
		}
	}
}

.heros > .hero {
	margin: 0;
}

.feature-item {
	background: #FFFFFF;
	box-shadow: 0px 0px 35px rgba(0, 152, 218, 0.15);
    padding: 70px 15px;
    height: 100%;
	figure {
		width: 60px;
		margin: 0 auto 20px;
	}
	h4 {
		font-weight: 500;
		font-size: 25px;
		line-height: 30px;
		color: $color-blue;
		margin: 0 0 12px;
	}
	p {
		font-size: 16px;
		padding: 0 40px;
		margin: 0;
		line-height: 24px;
	}
	&.sponsor {
		padding: 20px 10px;
		height: 180px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: none;
		figure {
			width: auto;
			margin: 0;
		}
	}
}

.heros {
	padding-top: 50px;
	.section-row {
		padding: 70px 20px;
		margin: 0;
	}
	.quick_easy {
        position: relative;
        .highlight > pre {
            padding: 50px 15px;
        }
        .grid--container {
            padding-left: 100px;
        }
		&.landing_models {
			.grid--container::before {
				display: none;
			}
			.d_flex {
				align-items: center;
			}
		}
		.grid--container {
			&:before {
				content: '';
				display: block;
				position: absolute;
				margin: auto;
				width: 70%;
				height: 80%;
				background: #F7FCFE;
				right: 15px;
				top: 0;
				bottom: 0;
				z-index: 0;
			}
		}			
		h3 {
			font-weight: 800;
			font-size: 40px;
			line-height: 50px;
		}
		.d_flex {
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
	}
}

.d_flex {
	display: flex;
	align-items: center;
}

.descr_quick {
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	padding-top: 20px;
	margin-bottom: 37px;
	a {
		font-weight: normal;
	}
}

b {
	font-weight: bold;
}

.highlight > {
	text-align: left !important;
	pre {
		padding: 25px 0;
		text-align: left !important;
	}
	code {
		text-align: left !important;
	}
}

ul.list1 {
	list-style-type: none;
	margin: 0 0 0 47px;
	li {
		text-align: left;
		margin-bottom: 4px;
		position: relative;
		padding-left: 20px;
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			width: 6px;
			height: 6px;
			background: $color-blue;
			border-radius: 9px;
			left: 0;
			top: 10px;
		}
	}
}

.benchmark-section {
	text-align: left;
	position: relative;
	margin-top: 70px;
	&:before {
		content: '';
		height: calc(100% + 136px);
		width: 950px;
		background: #F7FCFE;
		top: -68px;
		margin: 0 auto;
		left: 0;
		right: 0;
		z-index: 0;
		position: absolute;
	}
}

.benchmark-top {
	padding-top: 50px;
}

.benchmark-inner {
	padding-left: 30px;
	padding: 41px 0 0 53px;
	h4.h4_title {
		margin-bottom: 20px;
	}
	.list1 {
		margin: 0;
		li {
			font-size: 14px;
			margin-bottom: 3px;
		}
	}
}

.table2 {
	width: 100%;
	background: #ffffff;
	thead {
		tr {
			background: #3E4095;
			box-shadow: 0px 0px 35px rgba(0, 152, 218, 0.15);
			th {
				vertical-align: middle;
				color: #fff;
				font-family: 'Montserrat', sans-serif;
				font-weight: 800;
				font-size: 16px;
				line-height: 50px;
				height: 75px;
				padding: 10px;
				text-align: left;
				min-width: 103px;
			}
		}
	}
	tbody {
		tr {
			td {
				height: 63px;
				padding: 10px;
				font-size: 14px;
				line-height: 24px;
				color: $color-darkblue;
				text-align: left;
			}
			&:nth-child(odd) {
				box-shadow: inset 0px 0px 35px rgba(0, 152, 218, 0.05);
			}
			&:nth-child(even) {
				box-shadow: 0px 0px 35px rgba(0, 152, 218, 0.05);
			}
		}
	}
}

.page__comments {
	margin: 0;
}

.toc_div {
	position: fixed;
	right: 0;
	width: 250px;
	height: calc(100vh - 70px);
	top: 70px;
	background: none;
	overflow: auto;
	background: #ffffff;
	z-index: 8;
	border: none;
	padding: 23px 15px 30px 20px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background: #F5F5F5;
		display: block;
		height: 100%;
		width: 15px;
		opacity: 0.5;
	}
	ul {
		display: block;
		margin: 0;
		color: #222;
		list-style-type: none;
		li {
			margin: 0 0 10px;
			padding-left: 16px;
			position: relative;
			line-height: 20px;
			&:before {
					content: '';
					position: absolute;
					left: 4px;
					top: 10px;
					display: block;
					width: 4px;
					height: 4px;
					border-radius: 5px;
					background: #1E77B7;
				}
			a {
				font-size: 13px;
				line-height: 18px;
				text-decoration: none !important;
			}
		}
	}
}

.toc_div_invisible {
	visibility: hidden;
}

.pandas-menu {
	li {
		margin: 8px 6px;
	}
}

.pandas-descr {
	margin-bottom: 35px;
}

.highlight > pre {
	padding: 25px 15px;
}

.content {
	h3 {
		font-weight: 800;
		font-size: 30px;
		line-height: 50px;
		text-align: center;
		color: #1E77B7;
		margin: 0 0 20px;
		padding-top: 60px;
	}
	.table2 {
		padding-top: 20px;
	}
}

.table-wrapper {
	overflow: hidden;
	.table-inner {
		overflow: auto;
	}
}

.contant-descr {
	margin: 0 0 20px;
}

/***Docs***/

.block-box {
	padding: 40px 45px;
	box-shadow: 0px 0px 35px rgba(0, 152, 218, 0.15);
	background: #ffffff;
	display: flex;
	flex-direction: column;
	h2 {
		font-weight: bold;
		font-size: 25px;
		line-height: 31px;
		color:$color-lightblue;
		margin: 0 0 20px !important;
		border: none;
		text-align: left !important;
	}
}

.list3 {
	list-style-type: none;
	margin: 0 0 0 10px !important;
	li {
		font-size: 16px;
		line-height: 24px;
		color: $color-darkblue;
		position: relative;
		padding-left: 18px;
		margin-bottom: 2px;
		&:before {
			content: '';
			background:$color-lightblue;
			position: absolute;
			left: 0;
			top: 8px;
			width: 8px;
			height: 8px;
			display: block;
			border-radius: 10px;
		}
		a {
			font-weight: normal;
			&:hover {
				text-decoration: none !important;
			}
		}
	}
}

.docs-wrapper ul.list4,
.list4 {
	margin: 0 !important;
	li {
		text-align: center;
		padding: 0;
		a {
			color: $color-lightblue !important;
			font-weight: bold;
			text-decoration: underline;
			&:hover {
				text-decoration: none !important;
				color: $color-orange !important;
			}
		}
		&:before {
			display: none !important;
		}
	}
}

.docs-wrapper {
	margin: 0 auto;
	width: 850px;
	padding: 0 15px;
	.main-docs {
		width: 100%;
	}
	img {
		margin-bottom: 15px;
	}
	p.info,
	p.success {
		padding: 30px;
		background: #ffffff;
		border: none;
		border-radius: 0;
		box-shadow: 0px 0px 35px rgba(0, 152, 218, 0.15);
	}
	.table-model-big {
		margin: 0 auto 50px;
		display: table;
		box-shadow: 0px 0px 35px rgba(0, 152, 218, 0.15);
		&.w7 {
			width: 750px;
		}
		&.db {
			display: block;
		}
		thead {
			tr {
				th {
					color: #ffffff;
					background: #3E4095;
					border: 1px solid #FFFFFF;
					box-shadow: 0px 0px 15px rgba(0, 152, 218, 0.15);
					font-weight: 800;
					font-size: 16px;
					font-family: 'Montserrat', sans-serif;
					padding: 10px;
					min-height: 55px;
					vertical-align: middle;
					text-align: left;
				}
			}
		}
		tbody {
			border: 1px solid #fff;
			tr {
				width: 100%;			
				&:nth-child(odd) {
					box-shadow: inset 0px 0px 15px rgba(0, 152, 218, 0.15);				
				}
				&:nth-child(even) {
					td {

					}
				}
				td {
					border: none;
					padding: 15px;
					min-height: 42px;
					font-size: 14px;
					line-height: 20px;
					border-left: 2px solid #E1F6FF;
					code {
						padding: 5px;
						background: #E2F5FE;
					}
					&:first-child {
						font-weight: bold;
						border: none;
					}
				}
			}
		}
		
	}
	h4,
	h3,
	h5,
	h2 {
		text-align: center;
		font-weight: 800;
		font-size: 30px;
		line-height: 36px;
		margin: 60px 0 35px;
		color: #1E77B7;
		border: none;
	}
	h3 {
		font-size: 25px;
		line-height: 30px;
		margin: 0 0 20px;
	}
	h4 {
		font-size: 20px;
		line-height: 25px;
		margin: 0 0 20px;
	}
	h5 {
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 20px;
	}
	.highlight > pre {
		border-radius: 0 !important;
	}
	ul {
		list-style-type: none;
		margin: 0 0 0 10px !important;
		padding-bottom: 10px;
		li {
			font-size: 16px;
			line-height: 24px;
			color: $color-darkblue;
			position: relative;
			padding-left: 18px;
			margin-top: 10px;
			:first-child {
				margin: 0;
			}
			ul {
				padding: 5px 0;
			}
			&:before {
				content: '';
				background: $color-lightblue;
				position: absolute;
				left: 0;
				top: 9px;
				width: 6px;
				height: 6px;
				display: block;
				border-radius: 10px;
			}
		}
	}
	.highlighter-rouge {
		padding: 0;
		margin: 0 0 35px;
	}
	li .highlighter-rouge,
	p .highlighter-rouge {
		padding: 5px;
		background: #E2F5FE;
	}
	.h3-box {
		padding-bottom: 50px;
	}	
}

.tac {
	text-align: center;
}

code {
	font-size: .85rem;
	line-height: 1.6;
}

.block-wrapper {
	margin-bottom: 38px;
	display: flex;
	justify-content: space-between;
	.block-box {
		flex-direction: column;
		width: 405px;
		padding: 30px 40px;
	}
}

.main-docs {
	margin: 0 auto;
	width: 850px;
}

.quickstart-box {
	margin-top: 80px;
}

.hero-footer {
	background: #0098DA;
	padding: 120px 15px;
	margin-top: 150px;
	h2 {
		font-weight: 800;
		font-size: 25px;
		line-height: 31px;
		margin: 0 0 30px;
	}
	.hero__content {
		margin: 0;
	}
	.menu > li {
		margin-right: 1.25rem;
	}
}



/****Footer****/

.page__footer {
	footer {
		background: #fff;
		padding: 38px 0;
		position: relative;
		z-index: 999;
		border-top: 1px solid #E2F5FE;
		.site-info {
			font-size: 14px;
			line-height: 20px;
			margin: 0;
			color: $color-darkblue;
			a {
				font-weight: normal;
				color:$color-lightblue;
				-webkit-transition: all 300ms ease;
				-moz-transition: all 300ms ease;
				-ms-transition: all 300ms ease;
				-o-transition: all 300ms ease;
				transition: all 300ms ease;
				&:hover {
					color: $color-orange !important;
					text-decoration: none !important;
				}
			}
		}
	}
}

.article__section-navigator {
	border: none;
	.nav_link {
		font-family: 'Montserrat', sans-serif;
		span {
			font-weight: bold;
			font-size: 20px;
			display: block;
			line-height: 30px;
			color: $color-darkblue;
		}
		a {
			font-weight: 500;
			display: inline-block;
			font-size: 16px;
			line-height: 30px;
			text-decoration-line: underline !important;
			color:$color-lightblue !important;
			&:hover {
				color: $color-orange !important;
				text-decoration: none !important;
			}
		}
	}
}

.footer_date {
	display: none;
	padding: 0 10px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	background:$color-lightblue;
	color: #FFFFFF;
}

.article__footer,
.article__section-navigator,
.podcast {
	padding: 0 15px;
}

@media (min-width: 1700px) {
	.layout--page--aside {
		&:not(.layout--page--sidebar) {
			background: url('../../assets/images/main-bg1.jpg') 0 0 repeat;
			.page__viewport {
				margin-left: 260px;
				&.has-aside .col-main {
					margin-right: 0;
				}
				.page__main-inner {
					padding-right: 260px;
				}
			}
		}
	}
	.layout--page--sidebar {
		&.layout--page--aside {
			background: url('../../assets/images/main-bg1.jpg') 0 0 repeat;
			.page__viewport {
				margin-right: 260px;
				.has-aside .col-aside {
					right: 260px;
				}
			}
		}
	}
}

@media (max-width: 1800px) {
	.has-aside {
		.col-main {
			margin-right: 200px;
		}
		header.header .main {
			padding-right: 200px;
		}
	}
	.layout--page--sidebar {
		.has-aside {
			.col-main {
				margin-right: 0;
			}
			header.header .main {
				padding-right: 15px;
			}
		}
	}
	.has-aside .col-aside > aside {
		right: 0;
	}
}

@media (max-width: 1700px) {
	.layout--page--sidebar {
		&.layout--page--aside {
			.main {
				max-width: 1070px;
			}
		}
	}
}

@media (max-width: 1600px) {
	.layout--page--sidebar.layout--page--aside .main {
		max-width: 970px;
		.article-inner::before {
			top: 18px;
		}
		.article-inner {
			padding: 44px 30px 0;
			min-height: 235px;
		}
		.article-inner a {
			font-weight: bold;
			font-size: 16px;
			line-height: 20px;
		}
	}
	.layout--page--sidebar {		
		.page__content,
		header.header {
			padding-left: 250px;
		}
	}
	.layout--page--sidebar {
		.has-aside {
			.page__content,
			header.header {
				padding-left: 0;
			}
		}
	}	

}

@media (max-width: 1500px) {
	.layout--page--sidebar.layout--page--aside .main {
		max-width: 870px;
		padding: 0;
		.article-wrapper {
			.cell--lg-4 {
				width: 50%;
			}
		}
	}	
	.page__sidebar {
		max-width: 250px;
	}
}

@media (max-width: 1400px) {
	.layout--page--sidebar.layout--page--aside .main {
		max-width: 767px;
	}	
	.docs-wrapper {
		width: 767px;
	}
	.main-docs {
		width: 750px;
	}
	.right-box, .left-box {
		width: 48%;
	}
	.block-box {
		padding: 35px;
		font-size: 16px;
		line-height: 24px;
	}
	.block-wrapper .block-box {
		width: 360px;
		padding: 25px 30px;
	}
	.go_next {
		font-size: 16px;
		line-height: 24px;
	}
}

@media (max-width: 1300px) {
	.layout--page--sidebar.layout--page--aside {
		.main {
			width: 100%;
			max-width: none;
		}
		.page__sidebar {
			width: 200px;
		}
		.col-main {
			margin-left: 210px;
		}
		.col-aside {
			width: 200px;
		}
		header.header .main {
			padding-left: 15px;
		}
		.responsive_btn#aside_menu {
			display: inline-block;
		}
		.has-aside .col-aside {
			right: -250px;
			-webkit-transition: all 300ms ease;
			-moz-transition: all 300ms ease;
			-ms-transition: all 300ms ease;
			-o-transition: all 300ms ease;
			transition: all 300ms ease;
			z-index: 9;
			background: #ffffff;
			&.open {
				right: 0;
			}
		}
	}	
}


@media (max-width: 1700px) {
	.index-content {
		margin-right: 250px;
	}
}

@media (max-width: 1400px) {
	.index-content {
		.grid--container {
			max-width: 960px;
		}
	}
}


@media (max-width: 1199px) {
    .heros .quick_easy .grid--container {
        padding-left: 15px;
	}
	.index-content {
		margin-right: 0;
	}
	.toc_div {
		right: -250px;
		&.open {
			right: 0;
		}
	}
	header.header .main {
		width: 100%;
	}
	.grid--container {
		width: 960px;
	}
	.feature-item {
		padding: 30px 15px;
		p {
			padding: 0;
		}
	}
	.article__header--overlay .hero.hero--center {
		padding: 50px 0;
	}
	
}

@media (max-width: 1023px) {
	.benchmark-top {
		padding-top: 0;
	}
	.has-aside .col-aside {
		display: block;
	}
	.page__actions {
		display: none !important;
	}
	.layout--page--sidebar.layout--page--aside .col-main {
		margin-left: 0;
	}
	.page__sidebar {
		&.open {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
}

@media (max-width: 991px) {	
	.grid--container {
		width: 760px;
	}
	.heros .section-row {
		padding: 70px 0;
	}
	.feature-item {
		h4 {
			font-size: 18px;
			line-height: 22px;
		}
		p {
			font-size: 15px;
			line-height: 22px;
		}
	}
}

@media (max-width: 767px) {
	.header__title {
		margin: 0;
	}
	.layout--page--sidebar.layout--page--aside .main {
		max-width: 100%;
	}	
	.docs-wrapper {
		width: 100%;
	}
	.page__aside .toc-aside,
	.page__sidebar .sidebar-toc {
		padding: 2rem 1rem 10rem 15px;
	}
	header.header .main {
		flex-direction: row;
	}
	.heros .quick_easy {
		.grid--container::before {
			display: none;
		}
		.d_flex.quick_easy_inner {
			align-items: center;
			padding-bottom: 30px;
		}
	}
	.descr_quick {
		padding-top: 0;
		margin-bottom: 20px;
	}
	.hero__content .article__header h1 {
		font-size: 50px;
		line-height: 55px;
		span {
			font-size: 28px;
			line-height: 32px;
		}
	}
	.heros .section-row {
		padding: 50px 0;
	}
	.topthree {
		width: 70%;
		height: auto;
		margin: 0 auto 25px;
	}
	.layout--page--sidebar .main .grid--container {
		width: 100%;
	}
	.grid--container {
		width: 100%;
	}
	.article__header--overlay {
		.button {
			min-width: 180px;
		}
	}
	.cell--sm-12 {
		width: 100% !important;
	}
	.topthree {
		width: 70%;
		margin: 0 auto 25px;
	}
	.benchmark-inner {
		padding: 40px 0 0 0;
	}
	.content h3 {
		font-size: 26px;
		line-height: 34px;
	}
	.block-wrapper {
		flex-direction: column;
		margin: 0;
		padding-bottom: 20px;
		.block-box {
			margin-bottom: 30px;
			width: 100%;
			padding: 25px 15px;
		}
	}
}

@media (max-width: 600px) {
	.docs-wrapper .table-model-big thead tr th {
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		padding: 5px;
	}	
}

@media (max-width: 560px) {
	.three_a, 
	.article__header--overlay .menu {
		flex-direction: column;
		li {
			width: 100%;
			margin: 0 0 15px !important;
			a {
				width: 100%;
			}
		}
	}
	.docs-wrapper h4, 
	.docs-wrapper h3, 
	.docs-wrapper h5, 
	.docs-wrapper h2 {
		font-size: 25px;
		line-height: 30px;
		margin: 28px 0 35px;
	}
	.docs-wrapper h3 {
		font-size: 23px;
		line-height: 28px;
	}
	.responsive_btn {
		display: inline-block;
	}	
	.docs-wrapper .h3-box {
		padding-bottom: 35px;
	}
	nav.top_navigation {
		box-shadow: inset 0px 15px 15px rgba(0, 152, 218, 0.15);
		position: fixed;
		left: -100%;
		height: calc(100vh - 70px);
		width: 70%;
		background: #fff;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
		z-index: 6;
		top: 70px;
		&.open {
			left: 0;
		}
	}		
	header.header nav.top_navigation .top-menu {
		flex-direction: column;
		width: 100% !important;
		padding: 23px 0;
		li {
			text-align: left;
			width: 100%;
			margin: 0 !important;
			a {
				display: block;
				font-size: 18px;
				padding: 10px 20px;
				color: #5334AE !important;
			}
			button {
				margin: 10px 0;
			}
		}
	}
	.topthree {
		width: 100%;
	}
	.hero .h2_title {
		font-size: 35px;
		line-height: 44px;
	}
	.pandas-menu li {
		margin: 4px 3px;
		width: 47%;
		a {
			font-size: 14px;
			line-height: 17px !important;
			min-width: 10px;
			border: 1px solid #FF8A00;
			padding: 5px 10px;
			width: 100%;
		}
	}
	header h1 {
		font-size: 40px;
		line-height: 50px;
	}
}
@media (max-width: 400px) {
	.layout--page--sidebar.layout--page--aside .page__sidebar,
	.layout--page--sidebar.layout--page--aside .col-aside {
		width: 160px;
	}
	.page__sidebar .sidebar-toc ul.toc--navigator li {
		&.toc-h1 {
			font-size: 15px;
			line-height: 18px;
		}
		padding-left: 0 !important;
		a {
			padding-left: 0;
		}
	}
	.article__section-navigator .nav_link a {
		font-size: 14px;
		line-height: 22px;
	}
}
/* end custom scss snippet */
